@import url('https://fonts.cdnfonts.com/css/univers-lt-std');

body {
font-family: 'Univers LT Std', sans-serif;
font-size: 14px;
max-width: 50vw;
min-width: 300px;
margin-left: auto;
margin-right: auto;
margin-top: 4rem;
background: radial-gradient(circle, rgba(238,174,202,0.34217436974789917) 0%, rgba(148,187,233,0.17970938375350143) 100%);
}

.box-bottom a {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.box-bottom a:hover {
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}

a {
    text-decoration: none;
    color: black;
}

.contact:hover {
    background-color: rgb(249, 239, 152);
    box-shadow: none;
}

.logo-box {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.logo {
    position: relative;
    max-width: 50px;
}


.box {
    border-top: 1.4px solid;
    border-left: 2.5px solid;
    border-right: 1.4px solid;
    padding: 0.5rem;
}

.box-bottom {
    border-top: 1.4px solid;
    border-left: 2.5px solid;
    border-right: 1.4px solid;
    border-bottom: 1.4px solid;
    padding: 0.5rem;
}

.contact {
    width: fit-content;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 4px;
    bottom: 3rem;
    padding: 0.2rem 0.6rem 0;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    border: 1.4px solid #000;
    outline: none;
    background: #fff;
    box-shadow: 2px 2px #bbb;
}

.price-list {
    margin-top: 2rem;
}

footer {
    position: absolute;
    bottom: 2rem;
}

.copyright-text {
    font-size: 10px;
    color: #bbb;
}
